n8n/aura-wear-workflow.json
{
  "name": "AURA-WEAR Chatbot",
  "id": "9EGwx27zjEeXLZom",
  "active": true,
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "aura-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "aura-chat-webhook"
    },
    {
      "id": "prepare-prompt",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst query      = body.query      || '';\nconst context    = body.context    || '';\nconst session_id = body.session_id || 'unknown';\nconst user_id    = body.user_id    || null;\n\nconst systemPrompt = `You are AURA-AI, the official AI assistant for AURA-WEAR — a premium custom clothing brand based in Pakistan.\n\nYou help customers with fabric recommendations, garment types, print methods, order tracking, and pricing in PKR.\n\nRULES:\n- Use the database context to answer; if no specific context, reply helpfully using general AURA-WEAR knowledge\n- When order data is in context, clearly state the order ID, status, and total\n- For greetings, respond warmly and invite the customer to ask about products or orders\n- Keep answers concise (2-4 sentences), friendly and professional\n- Always quote prices in PKR\n- Never mention internal system names, tools, APIs, or how data is retrieved`;\n\nconst userMessage = `DATABASE CONTEXT:\\n${context}\\n\\nCUSTOMER QUESTION:\\n${query}`;\n\nconst geminiBody = {\n  systemInstruction: { parts: [{ text: systemPrompt }] },\n  contents: [{ role: 'user', parts: [{ text: userMessage }] }],\n  generationConfig: { temperature: 0.3, maxOutputTokens: 1024 }\n};\n\nreturn [{ json: { query, context, session_id, user_id, geminiBody } }];"
      }
    },
    {
      "id": "gemini-chat",
      "name": "Google Gemini Flash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.geminiBody) }}",
        "options": {}
      }
    },
    {
      "id": "extract-reply",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet reply = '';\n\ntry {\n  // gemini-flash-latest is a thinking model — collect text from all non-thought parts\n  const parts = data.candidates?.[0]?.content?.parts || [];\n  reply = parts\n    .filter(p => !p.thought)\n    .map(p => p.text || '')\n    .join('')\n    .trim();\n} catch(e) {\n  reply = '';\n}\n\nif (!reply) {\n  reply = 'I am AURA-AI, your custom clothing assistant. How can I help you today?';\n}\n\nreturn [{ json: { output: reply } }];"
      }
    },
    {
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "application/json" }]
          }
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger":    { "main": [[{ "node": "Prepare Prompt",       "type": "main", "index": 0 }]] },
    "Prepare Prompt":     { "main": [[{ "node": "Google Gemini Flash",   "type": "main", "index": 0 }]] },
    "Google Gemini Flash":{ "main": [[{ "node": "Extract Reply",         "type": "main", "index": 0 }]] },
    "Extract Reply":      { "main": [[{ "node": "Respond to Webhook",    "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "triggerCount": 0,
  "versionId": "2"
}
